
.footer_container {

   background-color: #fafafa;
   height: inherit;
   margin-top: auto;
   margin-bottom: auto;
}
.footer_style_text {

color: #333;
font-size: 0.9rem;

}

.footer_styles {

margin-top: 2rem;
margin-bottom: 2rem;

}

.child_flex {

  justify-content: center;
  align-self: center;
}

.align_center_styles {


}
