@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900|Open+Sans:800");
body {
  font-size: 17px;
  background-image: image("..img/grey_floral.png");
  background-repeat: repeat-y; }

.welcome_banner {
  height: inherit;
  margin-bottom: auto;
  z-index: 3; }
  .welcome_banner .top_styles {
    margin-top: 5rem; }
  .welcome_banner .welcome_bg {
    background: url("../img/hex.png");
    background-repeat: repeat-x repeat-y; }
  .welcome_banner .content_welcome {
    padding-top: 8rem;
    padding-bottom: 12rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #8a8a8a; }

.intro_banner_style {
  width: 100vw;
  height: inherit;
  margin-top: auto;
  margin-bottom: 5rem;
  background: #00b09b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  font-family: 'Abril Fatface', cursive; }
  .intro_banner_style .top_styles {
    margin-top: 5rem; }
  .intro_banner_style .bottom_styles {
    margin-bottom: 5rem; }
  .intro_banner_style .latin_style {
    font-family: 'Roboto' , sans-serif; }
    .intro_banner_style .latin_style .etched-text {
      text-shadow: 0 2px white;
      font-size: 1.5rem;
      color: #ffffff; }

.intro_green_about_card {
  font-family: 'Roboto' , sans-serif;
  color: #8a8a8a;
  background-color: #ffffff; }
  .intro_green_about_card .header_background_style {
    background-color: #ffffff; }

.card-container-intros {
  background-color: #fafafa;
  height: inherit; }
  .card-container-intros .card_copy_color {
    color: #8a8a8a; }
  .card-container-intros .top_margin_style_space {
    margin-top: 8rem;
    margin-bottom: 8rem; }
  .card-container-intros .about_margin_top {
    margin-bottom: 4rem; }
    .card-container-intros .about_margin_top .text_style_learn {
      font-family: 'Roboto' , sans-serif;
      color: #333; }
  .card-container-intros .gradient_card_style_quo {
    background-color: #fefefe;
    color: #4285f4; }
    .card-container-intros .gradient_card_style_quo .etched-text {
      text-shadow: 0 2px white;
      font-size: 1.5rem;
      font-weight: bold;
      color: #b8bec5;
      margin-top: 5rem !important;
      margin-bottom: 5rem !important; }
  .card-container-intros .gradient_card_style_vid {
    background-color: #fefefe;
    color: #ff0000; }
    .card-container-intros .gradient_card_style_vid .etched-text {
      text-shadow: 0 2px white;
      font-size: 1.5rem;
      font-weight: bold;
      color: #b8bec5;
      margin-top: 5rem !important;
      margin-bottom: 5rem !important; }
  .card-container-intros .gradient_card_style_about {
    background-color: #fefefe; }
    .card-container-intros .gradient_card_style_about .etched-text {
      text-shadow: 0 2px white;
      font-size: 1.5rem;
      font-weight: bold;
      color: #b8bec5;
      margin-top: 5rem !important;
      margin-bottom: 5rem !important; }

.mobile_menu_margin {
  margin-bottom: auto; }

.header-margin {
  margin-top: 1rem;
  color: #c32aa3; }

.card_intro_headers {
  margin-top: 8rem;
  margin-bottom: 8rem; }
  .card_intro_headers .card-style {
    font-family: 'Roboto', sans-serif; }

.nav-header-margin {
  color: #c32aa3;
  overflow: auto;
  position: fixed;
  height: calc(100vh);
  background: #ffffff;
  padding-top: 5rem;
  padding-bottom: 100px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 3px #767676;
  margin-right: auto; }
  .nav-header-margin .submenu-toggle {
    color: #c32aa3 !important; }
  .nav-header-margin .nav-item-spacing {
    padding-top: .5rem; }
    .nav-header-margin .nav-item-spacing li ul a {
      color: #c32aa3;
      font-family: 'Roboto', sans-serif; }
    .nav-header-margin .nav-item-spacing .menu-style {
      color: #c32aa3; }
    .nav-header-margin .nav-item-spacing a {
      color: #c32aa3;
      font-family: 'Roboto', sans-serif; }

.goal_section {
  height: inherit;
  padding-top: auto;
  padding-bottom: auto; }
  .goal_section .goal_section_image {
    background: url(../img/smile_red.jpg) center/cover no-repeat;
    height: 35rem;
    background-size: cover; }
  .goal_section .goal_quote {
    height: 35rem; }
    .goal_section .goal_quote .text_margin_styles {
      margin-top: 10rem;
      margin-bottom: 10.5rem; }
    .goal_section .goal_quote .quote_center_style {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #8a8a8a;
      font-size: 3rem; }
    .goal_section .goal_quote .goal_center_flex_style {
      display: flex;
      justify-content: center;
      align-items: center; }
    .goal_section .goal_quote .etched-text {
      text-shadow: 0 2px white;
      margin-top: 1.5rem;
      font-size: 1rem;
      color: #8a8a8a;
      text-align: center; }

.video_section {
  height: inherit;
  padding-top: 4rem;
  padding-bottom: 6rem; }
  .video_section .etched-text {
    text-shadow: 0 2px white;
    margin-top: 1.5rem;
    font-size: 3rem;
    color: #8a8a8a;
    text-align: center; }
  .video_section .videos_centered_btn {
    border-radius: 0px;
    align-content: center;
    padding-top: 3rem; }

.headline-type-style {
  font-family: 'Abril Fatface', cursive; }

.banner-standard-style {
  margin-bottom: auto;
  background: url(../img/girlfriends.jpg) center/cover no-repeat;
  height: 45rem; }
  .banner-standard-style .quote_banner_style {
    margin-top: 7rem;
    height: inherit;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive; }
  .banner-standard-style .margin-banner-style {
    margin-bottom: 8rem; }

.banner-standard-style-2 {
  margin-bottom: auto;
  margin-top: 7rem;
  background: url(../img/wedding.jpg) center/cover no-repeat;
  height: 30rem;
  width: 100vw; }
  .banner-standard-style-2 .margin-banner-style {
    margin-bottom: 8rem; }

.banner-standard-style-3 {
  margin-bottom: auto;
  margin-top: auto;
  background: url(../img/love-hands.jpg) center/cover no-repeat;
  height: 30rem; }
  .banner-standard-style-3 .quote_banner_style {
    margin-top: 8.2rem;
    color: #bd081c;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif; }
  .banner-standard-style-3 .margin-banner-style {
    margin-bottom: 8rem; }

.banner-standard-style-4 {
  margin-bottom: auto;
  margin-top: auto;
  background: url(../img/skate_kid.jpg) center/cover no-repeat;
  height: 39rem; }

.manifesto {
  margin-top: 3rem; }

.definition {
  font-family: 'Abril Fatface', cursive; }

.dictionary-title {
  font-family: 'Roboto', sans-serif;
  margin-top: 3.1; }

.quote_banner_gradient_style {
  height: 37rem;
  margin-top: auto;
  margin-bottom: auto;
  background: #FEAC5E;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  font-family: 'Abril Fatface', cursive; }
  .quote_banner_gradient_style .text-banner-style {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-top: 14rem;
    font-size: 2.6rem; }

.banner-standard-style-lama {
  height: inherit;
  margin-top: auto;
  margin-bottom: auto;
  background: #56CCF2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  font-family: 'Roboto', sans-serif; }
  .banner-standard-style-lama .text-banner-style {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-top: 14rem;
    margin-bottom: 10rem;
    font-size: 2.6rem; }

.banner-standard-style-skate-life {
  margin-bottom: auto;
  margin-top: auto;
  background: url(../img/skate_kid.jpg) center/cover no-repeat;
  height: 45rem; }
  .banner-standard-style-skate-life .quote_banner_style {
    margin-top: 12rem;
    color: #bd081c;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif; }

.banner-standard-style-peacefullness {
  margin-bottom: auto;
  margin-top: auto;
  background: url(../img/beach_life.jpg) center/cover no-repeat;
  height: 45rem; }
  .banner-standard-style-peacefullness .quote_banner_style {
    margin-top: 12rem;
    color: #1da1f2;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif; }

/*# sourceMappingURL=home-style.css.map */
