@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto");
body {
  font-size: 16px;
  background-image: image("..img/grey_floral.png");
  background-repeat: repeat-y; }

.title-bar {
  background-color: #ffffff !important;
  color: #1da1f2;
  border-bottom: 1px solid #a6b1b7; }

.mobile_menu_margin {
  margin-bottom: auto; }

.header-margin {
  margin-top: 1rem;
  color: #c32aa3; }

.card_intro_headers {
  margin-top: 8rem;
  margin-bottom: 8rem; }
  .card_intro_headers .card-style {
    font-family: 'Roboto', sans-serif; }

.nav-header-margin {
  color: #c32aa3;
  overflow: auto;
  position: fixed;
  height: calc(100vh);
  background: #ffffff;
  padding-top: 5rem;
  padding-bottom: 100px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-family: 'Roboto', sans-serif;
  box-shadow: 1px 1px 3px #767676;
  margin-right: auto; }
  .nav-header-margin .submenu-toggle {
    color: #c32aa3 !important; }
  .nav-header-margin .nav-item-spacing {
    padding-top: .5rem; }
    .nav-header-margin .nav-item-spacing li ul a {
      color: #c32aa3;
      font-family: 'Roboto', sans-serif; }
    .nav-header-margin .nav-item-spacing .menu-style {
      color: #c32aa3; }
    .nav-header-margin .nav-item-spacing a {
      color: #c32aa3;
      font-family: 'Roboto', sans-serif; }

.headline-type-style {
  font-family: 'Abril Fatface', cursive; }

.banner-standard-style {
  margin-bottom: auto;
  margin-top: 7rem;
  background: url(../img/girlfriends.jpg) center/cover no-repeat;
  height: 30rem;
  width: 100% vw; }
  .banner-standard-style .quote_banner_style {
    margin-top: 7rem;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive; }
  .banner-standard-style .margin-banner-style {
    margin-bottom: 8rem; }

.banner-standard-style-2 {
  margin-bottom: auto;
  margin-top: 7rem;
  background: url(../img/wedding.jpg) center/cover no-repeat;
  height: 30rem;
  width: 100vw; }
  .banner-standard-style-2 .margin-banner-style {
    margin-bottom: 8rem; }

.banner-standard-style-3 {
  margin-bottom: auto;
  margin-top: auto;
  background: url(../img/love-hands.jpg) center/cover no-repeat;
  height: 30rem; }
  .banner-standard-style-3 .quote_banner_style {
    margin-top: 8.2rem;
    color: #bd081c;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive; }
  .banner-standard-style-3 .margin-banner-style {
    margin-bottom: 8rem; }

.banner-standard-style-4 {
  margin-bottom: auto;
  margin-top: auto;
  background: url(../img/skate_kid.jpg) center/cover no-repeat;
  height: 39rem; }

.manifesto {
  margin-top: 3rem; }

.definition {
  font-family: 'Abril Fatface', cursive; }

.dictionary-title {
  font-family: 'Roboto', sans-serif;
  margin-top: 3.1; }

.quote_banner_gradient_style {
  height: 37rem;
  margin-top: auto;
  margin-bottom: auto;
  background: #FEAC5E;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  font-family: 'Abril Fatface', cursive; }
  .quote_banner_gradient_style .text-banner-style {
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    margin-top: 14rem;
    font-size: 2.6rem; }

.banner-standard-style-lama {
  height: 37rem;
  margin-top: auto;
  margin-bottom: auto;
  background: #56CCF2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  font-family: 'Abril Fatface', cursive; }
  .banner-standard-style-lama .text-banner-style {
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    margin-top: 14rem;
    font-size: 2.6rem; }

.banner-standard-style-skate-life {
  margin-bottom: auto;
  margin-top: auto;
  background: url(../img/skate_kid.jpg) center/cover no-repeat;
  height: 45rem; }
  .banner-standard-style-skate-life .quote_banner_style {
    margin-top: 12rem;
    color: #bd081c;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive; }

.banner-standard-style-peacefullness {
  margin-bottom: auto;
  margin-top: auto;
  background: url(../img/beach_life.jpg) center/cover no-repeat;
  height: 45rem; }
  .banner-standard-style-peacefullness .quote_banner_style {
    margin-top: 12rem;
    color: #1da1f2;
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive; }

/*# sourceMappingURL=home-style.css.map */
