@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900|Open+Sans:800");
@import url("https://fonts.googleapis.com/css?family=Cantarell:700i");
@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
@import url("https://fonts.googleapis.com/css?family=Heebo:800");
.inspire_001 {
  background: url(../img/girlfriends.jpg) center/cover no-repeat;
  height: 35rem;
  background-size: cover; }

.inspire_002 {
  background: url(../img/piggy_back.jpg) center/cover no-repeat;
  height: 35rem;
  background-size: cover; }

.inspire_003 {
  background: url(../img/smile_red.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_004 {
  background: url(../img/sit_friends.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_005 {
  background: url(../img/sunset_friends.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_006 {
  background: url(../img/winter_friends.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_007 {
  background: url(../img/heart_sun.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_008 {
  background: url(../img/gym_friends.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_009 {
  background: url(../img/senior_couple_bw.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_010 {
  background: url(../img/jump_friends.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_011 {
  background: url(../img/smile_friends.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_012 {
  background: url(../img/skate_kid.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_013 {
  background: url(../img/wedding.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_014 {
  background: url(../img/sunset.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_015 {
  background: url(../img/cat_friends.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_016 {
  background: url(../img/little_brothers.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_017 {
  background: url(../img/puppy_love.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_018 {
  background: url(../img/friends_walk.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

.inspire_019 {
  background: url(../img/curls_and_friends.jpg) center/cover no-repeat;
  height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover; }

/*# sourceMappingURL=inspire.css.map */
