// Color Mixins
$black: #000000;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagram: #c32aa3;
$pinterest: #bd081c;
$google: #4285f4;
$google-plus: #db4437;
$snap-chat: #fffc00;
$apple-mac: #a6b1b7;
$dark-black: #333333;
$primary: #1779ba;
$secondary: #767676;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;
// Foundation colors
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
//
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto');
// Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Open+Sans:800');
//  Google Font
@import url('https://fonts.googleapis.com/css?family=Cantarell:700i');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Heebo:800');
// font-family: 'Abril Fatface', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Cantarell', sans-serif;
// font-family: 'Bowlby One SC', cursive;
// font-family: 'Heebo', sans-serif;
.intro_about_style_banner {
	background: url(../img/piggy_back.jpg) center / cover no-repeat;
	height: 45rem;
	background-size: cover;
}

.about_center_style {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $dark-gray;
	font-size: 3rem;
}

.about_icon_color {
	color: $instagram;
}

.about_center_flex_style {
	margin-top: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about_quote {
	height: 35rem;
	.text_margin_styles {
		margin-top: 12rem;
		margin-bottom: 10.5rem;
	}
}
