// Color Mixins

$black: #000000;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagram: #c32aa3;
$pinterest: #bd081c;
$google: #4285f4;
$google-plus: #db4437;
$snap-chat: #fffc00;
$apple-mac: #a6b1b7;
$dark-black: #333333;

$primary: #1779ba;
$secondary: #767676;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;

	// Foundation colors

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto');
// Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Open+Sans:800');
 //  Google Font
@import url('https://fonts.googleapis.com/css?family=Cantarell:700i');

@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

@import url('https://fonts.googleapis.com/css?family=Heebo:800');

// font-family: 'Abril Fatface', cursive;
// font-family: 'Roboto', sans-serif;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Cantarell', sans-serif;

// font-family: 'Bowlby One SC', cursive;
// font-family: 'Heebo', sans-serif;



.inspire_001 {

	background: url(../img/girlfriends.jpg) center / cover no-repeat;
	height: 35rem;
	background-size: cover;

}

.inspire_002 {

	background: url(../img/piggy_back.jpg) center / cover no-repeat;
	height: 35rem;
	background-size: cover;

}

.inspire_003 {

	background: url(../img/smile_red.jpg) center / cover no-repeat;
	height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
	background-size: cover;

}

.inspire_004 {

	background: url(../img/sit_friends.jpg) center / cover no-repeat;
	height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
	background-size: cover;

}

.inspire_005 {

	background: url(../img/sunset_friends.jpg) center / cover no-repeat;
	height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
	background-size: cover;

}

.inspire_006 {

	background: url(../img/winter_friends.jpg) center / cover no-repeat;
	height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
	background-size: cover;

}
.inspire_007 {

	background: url(../img/heart_sun.jpg) center / cover no-repeat;
	height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
	background-size: cover;

}

.inspire_008 {

	background: url(../img/gym_friends.jpg) center / cover no-repeat;
	height: 35rem;
  margin-top: auto;
  margin-bottom: auto;
	background-size: cover;

}
