// Color Mixins

$black: #000000;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagram: #c32aa3;
$pinterest: #bd081c;
$google: #4285f4;
$google-plus: #db4437;
$snap-chat: #fffc00;
$apple-mac: #a6b1b7;
$dark-black: #333333;

$primary: #1779ba;
$secondary: #767676;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;

	// Foundation colors

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

//

.banner-standard-style-4 {

	margin-bottom: auto;
	margin-top: auto;
	background: url(../img/skate_kid.jpg) center / cover no-repeat;
	height: 39rem;

}


.banner-standard-style-lama {

	height: inherit;
	margin-top: auto;
	margin-bottom: auto;
	background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #ffffff;
	font-family: 'Roboto', sans-serif;

	.text-banner-style {

		color: #ffffff;
  	font-family: 'Roboto', sans-serif;
		margin-top: 14rem;
    margin-bottom: 10rem;

		font-size: 2.6rem;

	}

}
.banner-standard-style-hope {

	height: inherit;
	margin-top: auto;
	margin-bottom: auto;
	background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #ffffff;
	font-family: 'Roboto', sans-serif;

	.text-banner-style {

		color: #ffffff;
  	font-family: 'Roboto', sans-serif;
		margin-top: 14rem;
    margin-bottom: 10rem;

		font-size: 2.6rem;

	}

}
.banner-standard-style-happiness {

	height: inherit;
	margin-top: auto;
	margin-bottom: auto;
	background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #ffffff;
	font-family: 'Roboto', sans-serif;

	.text-banner-style {

		color: #ffffff;
  	font-family: 'Roboto', sans-serif;
		margin-top: 14rem;
    margin-bottom: 10rem;

		font-size: 2.6rem;

	}

}

.banner-standard-style-friend {

	height: inherit;
	margin-top: auto;
	margin-bottom: auto;
	background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #ffffff;
	font-family: 'Roboto', sans-serif;

	.text-banner-style {

		color: #ffffff;
  	font-family: 'Roboto', sans-serif;
		margin-top: 14rem;
    margin-bottom: 10rem;

		font-size: 2.6rem;

	}

}
