// Color Mixins

$black: #000000;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagram: #c32aa3;
$pinterest: #bd081c;
$google: #4285f4;
$google-plus: #db4437;
$snap-chat: #fffc00;
$apple-mac: #a6b1b7;
$dark-black: #333333;

$primary: #1779ba;
$secondary: #767676;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;

	// Foundation colors

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto');

// font-family: 'Abril Fatface', cursive;
// font-family: 'Roboto', sans-serif;


//

body {
  background-color: $success;
}

.video_intro_style {

  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: $white;

}

.video_sections {
    height: inherit;
    padding-top: 6rem;
}
